<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsconf.rocketlaptop.domain.member.mapper.MemberRoleMapper">

    <select id="findByMemberSeq" resultType="String">
        SELECT role_name
        FROM member_role mr
        INNER JOIN role r ON mr.role_seq = r.seq
        WHERE member_seq = #{memberSeq}
    </select>

</mapper>
