<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsconf.rocketlaptop.domain.review.mapper.ReviewMapper">

    <select id="selectProductReviews" parameterType="ProductReviewSearchCondition" resultType="ProductReviewDetailDto">
        SELECT pr.seq, pr.product_seq, pr.member_seq, m.name,
               pr.content, pr.star_rating, pr.created_at
        FROM product_review pr
        INNER JOIN member m
            ON pr.member_seq = m.seq
        WHERE pr.product_seq = #{productSeq}
        AND pr.is_deleted = 0
        <if test="sortBy != null and sortBy != ''">
            <if test="sortBy == 'newest'">
                ORDER BY created_at DESC
            </if>
            <if test="sortBy == 'highest'">
                ORDER BY star_rating DESC
            </if>
            <if test="sortBy == 'lowest'">
                ORDER BY star_rating ASC
            </if>
        </if>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countProductReviews" parameterType="ProductReviewSearchCondition">
        SELECT COUNT(*)
        FROM product_review pr
        INNER JOIN member m
        ON pr.member_seq = m.seq
        WHERE pr.product_seq = #{productSeq}
        AND pr.is_deleted = 0
        <if test="sortBy != null and sortBy != ''">
            <if test="sortBy == 'newest'">
                ORDER BY pr.created_at DESC
            </if>
            <if test="sortBy == 'highest'">
                ORDER BY pr.star_rating DESC
            </if>
            <if test="sortBy == 'lowest'">
                ORDER BY pr.star_rating ASC
            </if>
        </if>
    </select>

</mapper>
