@charset "UTF-8";

.find_btn {
	width : 500px;
}

.find-container {
  width: 700px;
}

.find-container ul{
	height : 70px;
}

#find-id_tab, #find-password_tab{
	font-size : 1.5rem
}

.find-container .nav-pills .nav-item .nav-link.active{
	background: #858f9a
}

@media (max-width: 677px) {
  .nav .nav-item .nav-link#qna_tab, .nav .nav-item .nav-link#find-id_tab, .nav .nav-item .nav-link#find-password_tab{
  	font-size : 18px;
  }
}