@charset "UTF-8";
* {
  font-family: "Noto Sans KR", sans-serif;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

a:not([href]){
color : gray;

text-decoration : none;

}

@media (max-width: 992px) {
  #cart-icon > .cart-icon-title,
  #cuser-icon > .cuser-icon-title,
  #puser-icon > .puser-icon-title,
  #admin-icon > .admin-icon-title,
  #mypage-icon > .mypage-icon-title {
    display: none;
  }
  
  .mypage-menu{
  	right : 25px;
  }

  #cart-icon > #cart-badge {
    left: 55px;
  }
}

#search-bar {
  width: 50%;
}

@media (max-width: 1270px) {
  #search-bar {
    width: 40%;
  }
}

@media (max-width: 750px) {
  #search-bar {
    display: none;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

#cart-badge {
  left: 75px;
}

a {
  color: gray;
  text-decoration: none;
}

.mypage-menu{
	position : absolute;
	z-index : 1000;
	width : 124px;
	margin : 0;
	padding : 0;
	font-size : 1rem;
	background-color: #FFF;
	border : 1px solid rgba(0,0,0,.15);
	border-radius : 0.25rem;
	list-style : none;
	display: none;
}

.mypage-item{
	display: block;
    width: 100%;
    clear: both;
    padding: 5px 15px;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor : pointer;
}

.mypage-item:focus,
.mypage-item:hover{
	background-color: #e9ecef;
}

.mypage-dropdown:hover .mypage-menu{
	display : block;
}