@charset "UTF-8";

.productDetailsNav ul{
	height : 70px;
}

#qna_tab, #details_tab, #review_tab{
	font-size : 1.5rem
}

.productDetailsNav .nav-pills .nav-item .nav-link.active{
	background: #858f9a
}

textarea{
	resize : none;
}

.star{
	cursor: pointer;
}

.star-checked{
	color : orange;
}

.review-table{
	table-layout : fixed;
	width : 1000px;
}

.product-review{
	position:relative;
	width:1000px;
}

.product-qna{
	position:relative;
	width:1000px;
}

.qna-table{
	table-layout : fixed;
	width : 1000px;
}

.focusPointer{
	cursor : pointer;
}

.focusDefault{
	cursor : default;
}

.answerBox{
	display : none;
}

.answerBox td{
	padding: 16px 22px 16px 380px;
    line-height: 22px;
    color: #5e636d;
    background: #fafafa;
}

.answerBox .answer{
	margin-top : 24px;
}

.regInfo{
	padding-left: 20px;
    padding-top: 10px;
    color: #3f51b5;
}

@media (max-width: 675px) {
  .nav .nav-item .nav-link#qna_tab, .nav .nav-item .nav-link#details_tab, .nav .nav-item .nav-link#review_tab{
  	font-size : 1rem;
  }
}