<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rocket.laptop.repository.AddressMapper">

	<insert id="addressAdd" parameterType="AddressDto">
		insert into address (address_name, user_id, address_recipient, address_phone, address_zipcode, address_city, address_street)
		values(#{address_name}, #{user_id}, #{address_recipient}, #{address_phone}, #{address_zipcode}, #{address_city}, #{address_street})
	</insert>
	
	<select id="getAddressListCount" resultType="int" parameterType="String">
		select count(*)
		from address
		where user_id = #{user_id}
	</select>
	
	<select id="getAddressList" resultType="AddressDto" parameterType="String">
		select *
		from address
		where user_id = #{user_id}
	</select>
	
	<select id="getAddressDetail" parameterType="AddressDto" resultType="AddressDto">
		select *
		from address
		where address_num = #{address_num}
		and user_id = #{user_id}
	</select>
	
	<update id="addressModify" parameterType="AddressDto">
		update address
		set address_name = #{address_name}, address_recipient = #{address_recipient},
			address_phone = #{address_phone}, address_zipcode = #{address_zipcode},
			address_city = #{address_city}, address_street = #{address_street}
		where user_id = #{user_id}
		and address_num = #{address_num}
	</update>
	
	<delete id="addressDelete" parameterType="AddressDto">
		delete from address
		where address_num = #{address_num}
		and user_id = #{user_id}
	</delete>

</mapper>